*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

[class*="__container"]{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.mainSec{
    width: 100%;
    min-height: 100vh;

    background-image: url("images/secMainbgi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    display: flex;
    align-items: center;
}

.mainSec::before{
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(34,1,-10,.35);
}

.main__container{
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.fromTo{
    font-size: 25px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.mainTitle{
    font-size: 45px;
    margin-bottom: 25px;
}

.mainText{
    max-width: 700px;
    font-size: 19px;
    line-height: 1.7;
    color: white;
}

.musicPlayer{
    position: fixed;

    right: 4px;
    bottom: 35px;

    width: 95px;
    height: 95px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;
}

.disk{
    width: 80%;
    height: 79%;

    object-fit: cover;

    border-radius: 50%;

    animation: spin 6s linear infinite;

    animation-play-state: paused;

    box-shadow: 0 8px 20px rgba(0,0,0,.18);
}

#playBtn{
    position: absolute;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    border: none;

    cursor: pointer;

    background: rgba(255,255,255,.92);

    font-size: 14px;
}
.imageSec{
    width: 100%;
    min-height: 100vh;

    background-image: url("images/bgImages.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    display: flex;
    align-items: center;

    padding: 60px 0;
}



.image__container{
    position: relative;
    z-index: 2;

    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
}


.imageSec{
    width: 100%;
    min-height: 100vh;

    background: url("images/bgImages.jpg") center/cover no-repeat;

    position: relative;
}
.imageSec{
    width: 100%;
    min-height: 100vh;

    background: url("images/bgImages.jpg") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 80px 20px;
}

.image__container{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 60px;

    flex-wrap: wrap;
}

/* FRAME */

.frame{
    width: 240px;
    height: 273px;

    background: white;

    padding:
        18px
        18px
        70px
        18px;

    border-radius: 8px;

    box-shadow:
        0 15px 35px rgba(0,0,0,.25);

    transition: .4s ease;

    position: relative;
}

.frame img{
    width: 101%;
    height: 90%;
    margin: 3px;
    object-fit: cover;

    border-radius: 3px;
}

/* ASYMMETRIC STYLE */

.photoCard:nth-child(1){
    transform: rotate(-8deg);
}

.photoCard:nth-child(2){
    transform:
        translateY(70px)
        rotate(6deg);
}

.photoCard:nth-child(3){
    transform: rotate(-5deg);
}

/* HOVER */

.frame:hover{
    transform: scale(1.03);
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}