*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

[class*="__container"]{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.mainSec{
    width: 100%;
    min-height: 100vh;

    background-image: url("images/secMainbgi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    display: flex;
    align-items: center;
}

.mainSec::before{
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(34,1,-10,.35);
}

.main__container{
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.fromTo{
    font-size: 25px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.mainTitle{
    font-size: 45px;
    margin-bottom: 25px;
}

.mainText{
    max-width: 700px;
    font-size: 19px;
    line-height: 1.7;
    color: white;
}

.musicPlayer{
    position: fixed;

    right: 4px;
    bottom: 35px;

    width: 95px;
    height: 95px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;
}

.disk{
    width: 80%;
    height: 79%;

    object-fit: cover;

    border-radius: 50%;

    animation: spin 6s linear infinite;

    animation-play-state: paused;

    box-shadow: 0 8px 20px rgba(0,0,0,.18);
}

#playBtn{
    position: absolute;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    border: none;

    cursor: pointer;

    background: rgba(255,255,255,.92);

    font-size: 14px;
}
.imageSec{
    width: 100%;
    min-height: 100vh;

    background-image: url("images/bgImages.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    display: flex;
    align-items: center;

    padding: 60px 0;
}



.image__container{
    position: relative;
    z-index: 2;

    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
}


.imageSec{
    width: 100%;
    min-height: 100vh;

    background: url("images/bgImages.jpg") center/cover no-repeat;

    position: relative;
}
.imageSec{
    width: 100%;
    min-height: 100vh;

    background: url("images/bgImages.jpg") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 80px 20px;
}

.image__container{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 60px;

    flex-wrap: wrap;
}

/* FRAME */

.frame{
    width: 240px;
    height: 273px;

    background: white;

    padding:
        18px
        18px
        70px
        18px;

    border-radius: 8px;

    box-shadow:
        0 15px 35px rgba(0,0,0,.25);

    transition: .4s ease;

    position: relative;
}

.frame img{
    width: 101%;
    height: 125%;
    margin: 3px;
    object-fit: cover;
    object-position: center top;
    border-radius: 3px;
}

/* ASYMMETRIC STYLE */

.photoCard:nth-child(1){
    transform: rotate(-8deg);
}

.photoCard:nth-child(2){
    transform:
        translateY(70px)
        rotate(6deg);
}

.photoCard:nth-child(3){
    transform: rotate(-5deg);
}

/* HOVER */

.frame:hover{
    transform: scale(1.03);
}

.Info{
    width: 100%;
    min-height: 100vh;
    background: url("images/bgImages.jpg") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 80px 20px;
}

.info__container{
    text-align: center;
    color: white;
    padding:0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoTitle{
    font-size: 38px;
    margin-bottom: 35px;
}

.countdown{
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;

    margin-bottom: 50px;
}

.timeBox{
    color: #3b2a1a;

    border-radius: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeBox span{
    font-size: 34px;
    font-weight: 700;
}

.timeBox p{
    font-size: 15px;
}

.placeBox{
    max-width: 620px;

    background: rgba(255,255,255,.16);
    backdrop-filter: blur(10px);

    border-radius: 28px;
    padding: 35px 30px;

    box-shadow: 0 15px 35px rgba(0,0,0,.25);
}

.placeBox h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.restaurantName{
    font-size: 22px;
    margin-bottom: 10px;
}

.eventTime{
    font-size: 18px;
    margin-bottom: 25px;
}

.mapBtn{
    display: inline-block;

    padding: 13px 32px;

    background: white;
    color: #c79f7a;

    text-decoration: none;
    border-radius: 30px;

    transition: .3s;
}

.mapBtn:hover{
    transform: scale(1.05);
}
.dots{
    color: white;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.eventTime{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.confirmBtn{
    display: inline-block;

    margin-top: 20px;
    padding: 14px 34px;

    background: white;
    color: #ddb289;

    text-decoration: none;

    border-radius: 30px;

    font-size: 17px;
    font-weight: 600;

    transition: .3s;

    box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

.confirmBtn:hover{
    transform: scale(1.05);
}

/* THIRD PHOTO */

.photoCard1{
    transform: rotate(-5deg);
    padding-top: 70px;
}

.frame1{
    width: 240px;
    height: 273px;

    background: white;

    padding:
        18px
        18px
        70px
        18px;

    border-radius: 8px;

    box-shadow:
        0 15px 35px rgba(0,0,0,.25);

    transition: .4s ease;

    position: relative;
}

.frame1 img{
    width: 100%;
    height: 185px;

    object-fit: cover;
    object-position: center;

    display: block;

    border-radius: 3px;
}

.frame1:hover{
    transform: scale(1.03);
}
.webInfo {
    width: 100%;
    background: #f1f1f1;
    padding: 20px 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web__container {
    max-width: 1200px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap; /* wraps content on smaller screens */
}

.web__text {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #6b3308;
    text-align: center;
}

.web__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}